$black2: #000000;
$silver2: #bfbfbf;
$white2: #dbd9d3;
$blue2: #01051c;
$lightblue2: #0b1342;
$lightblue: rgba(11, 19, 65, 0.6);
$lightblue3: rgba(11, 19, 65, 0.8);
$grey2: #141414;
$gold2: rgb(219, 190, 26);
$gold: rgba(219, 190, 26, 0.7);