$black2: #000000;
$silver2: #bfbfbf;
$white2: #c9c3b8;
$blue2: #01051c;
$lightblue2: #0b1342;
$grey2: #141414;
$gold2: rgb(219, 190, 26);

$grey3: #575752;
$lightgrey3: #575752;
$silver3: #c9c3b8;
$blue3: #001a33;
$black3: #1b1918;
