@use "./colors" as *;

@mixin respond-extra-large {
	@media (min-width: 1200px) {
		.goToTopBtn {
			display: block;
			position: fixed;
			bottom: 1em;
			right: 0em;
			z-index: 10000;
			outline: none;
			font-size: 5rem;
			color: $gold2;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			cursor: pointer;
			padding: 0.2em 1em 0.2em 0.3em;
			transition: transform 0.3s;

			box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
			background-color: $lightblue;
			overflow: hidden;
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			border-left: 1px solid rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(1px);
		}
		.top_btn_appear {
			transform: translateX(0%);
		}

		.header__text p {
			font-size: 2rem;
		}
		.contact__form-btn {
			padding: 0.5em;
			font-size: 1.7rem;
			width: 13em;
		}
		.form__question {
			font-size: 2.2rem;
		}
		.btn-contact {
			font-size: 2.2rem;
			width: 8em;
		}
		.aboutme {
			&__boxes {
				font-size: 2rem;
			}
			&__boxes h1 {
				font-size: 3.5rem;
			}
			&__text {
				font-size: 2rem;
			}
			&__boxes i {
				font-size: 5rem;
			}
		}
		.hero__logo {
			display: none;
		}
		.hero__logo-desktop {
			display: block;
			position: absolute;
			top: 50%;
			left: 6em;
			transform: translate(0%, -50%);
			width: 10em;
			height: 3em;
			background-image: url(../img/logo_napis.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.hero__logo-desktop2 {
			display: block;
			position: absolute;
			top: 50%;
			left: 2em;
			transform: translate(0%, -50%);
			width: 3em;
			height: 2.5em;
			background-image: url(../img/logo3.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.nav {
			&-mobile {
				display: none;
			}
			&-desktop {
				display: flex;
				position: relative;
				justify-content: right;
				padding: 0 3em;
				height: 3em;
				margin-top: 0.3em;
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				background-color: rgba(255, 255, 255, 0.1);
				overflow: hidden;
				z-index: 100;
			}
		}

		.nav-link {
			position: relative;
			padding: 0.5em 1em;
			font-size: 2.3rem;
			transition: color 0.3s;
			margin: 0 1em;
			align-self: center;
			overflow: hidden;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
				inset 1px 1px 2px rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(1px);
			text-decoration: none;
			color: $white2;
			border-radius: 3px;
			transition: box-shadow 0.4s;
			&:hover {
				box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5),
					inset 5px 5px 10px rgba(0, 0, 0, 0.5);
			}
		}
		.nav-link::before,
		.nav-link::after {
			display: block;
			position: absolute;
			content: "";
			transition: 0.5s;
			z-index: -1;
		}
		.nav-bar {
			display: none;
		}
		.hamburger {
			display: none;
		}
		.phonecall {
			display: none;
		}
		.info__boxes {
			flex-direction: row;
			flex-wrap: wrap;
			&-title h1 {
				font-size: 4rem;
			}
		}
		.info__card {
			margin: 2em;
		}
		//===================================
		.info {
			&__boxes {
				display: flex;
				text-align: center;
				flex-direction: row;
				justify-content: center;
				margin: 0em 0.5em 1em;
				cursor: default;
				z-index: 5;
			}
		}
		.info__boxes-mobile {
			display: none;
		}
		.info__card {
			position: relative;
			align-self: center;
			max-width: 20em;
			height: 30em;
			margin: 0.7em;
			perspective: 800px;
			overflow: hidden;

			&:hover {
				.info__card-front {
					// transform: rotateY(-180deg);
					opacity: 0;
				}
				.info__card-info {
					// transform: rotateY(0);
					opacity: 1;
				}
			}

			&-front {
				padding: 2em;
				height: 100%;

				transition: transform 1s, opacity 1s;

				border-radius: 10px;
				box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
				background-color: rgba(255, 255, 255, 0.1);
				overflow: hidden;
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				border-left: 1px solid rgba(255, 255, 255, 0.5);
				backdrop-filter: blur(2px);
				&-title {
					font-size: 3.6rem;
					margin-top: 0.8em;
				}
				&-info {
					position: absolute;
					bottom: 30px;
					right: 30px;
					font-size: 1.8rem;
					i {
						margin-right: 0.3em;
					}
				}
				&-text {
					position: absolute;
					top: 55%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					padding: 1em;
					font-size: 2.5rem;
				}
			}
			&-info {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 2em;
				// transform: rotateY(180deg);
				transition: transform 1s, opacity 1s;
				overflow: hidden;

				border-radius: 10px;
				box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
				background-color: rgba(255, 255, 255, 0.1);
				overflow: hidden;
				border-top: 1px solid rgba(255, 255, 255, 0.5);
				border-left: 1px solid rgba(255, 255, 255, 0.5);
				backdrop-filter: blur(1px);
				opacity: 0;

				&-title {
					margin-top: 0.8em;
					font-size: 3.6rem;
				}
				& p {
					margin-top: 2em;
					font-size: 2rem;
				}
			}
		}
		.number {
			position: absolute;
			bottom: -10%;
			left: 70%;
			transform: translate(-50%, 0%);
			font-size: 15rem;
			color: $white2;
			filter: blur(5px);
			opacity: 0.2;
		}
		//============================
		.btn-portfolio {
			min-width: 40em;
		}
		.btn-portfolio p {
			font-size: 2.5rem;
		}

		.main-text-section {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 15em;
			z-index: 10;
		}
		h1 {
			color: $white2;
			font-family: tahoma;
			font-size: 4rem;
			font-weight: 100;
			line-height: 1.5;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			position: relative;
			width: 850px;
		}

		h1 span {
			font-size: 4rem;
			margin-left: 0.8em;
		}

		.message {
			color: $white2;
			display: block;
			font-weight: 400;
			overflow: hidden;
			position: absolute;
			padding-left: 0.5rem;
			border-right: 3px solid $white2;
			top: 0.2rem;
			left: 350px;
			animation: openclose 9s ease-in-out infinite;
		}
		.form__question {
			margin: 1.5em 1em 0em -9em;
			padding: 1em 1em 0 0em;
		}
		.contact__form-btn {
			padding: 0.7em 1.2em;
			left: 80%;
			transform: translate(-50%, -50%);
			margin: 0.5em;
		}
	}
}
